@use "src/utils/scss/mixins.scss" as *;

.backBtnBox {
  padding-bottom: 30px;
}

.backBtn {
  width: 80px;
  font-weight: 500;
  background-color: #c6cbd3;
  border: none;
  border-radius: var(--border-radius);
  padding: 5px;
  transition: background-color var(--duration) var(--timing-function);

  &:hover,
  &:focus-visible {
    background-color: var(--color-bg-third);
  }

  &:active {
    transform: translateY(2px);
  }
}

.backLink {
  color: var(--color-text-main);
}

.movie {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;

  @include max-width(768px) {
    flex-direction: column;
  }
}

.movieImg {
  width: 300px;
  height: 450px;
  background-color: rgba(0 0 0 / 0.2);
  border-radius: var(--border-radius);
}

.noPhoto {
  font-size: 20px;
  font-weight: var(--font-weight);
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movieSection {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding-top: 10px;
}

.movieTitle {
  font-size: 26px;
  font-weight: var(--font-weight);
  margin-bottom: 20px;
}

.movieScore {
  margin-bottom: 20px;
}

.movieScoreText {
  font-weight: 500;
}

.movieOverviewBox {
  margin-bottom: 20px;
}

.movieOverview {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.movieOverviewText {
  font-weight: 400;
}

.movieGenres {
  font-weight: 500;
  margin-bottom: 10px;
}

.movieGenresList {
  display: flex;
  flex-direction: column;
  gap: 4px;
  list-style-type: circle;
  padding-left: 30px;
}

.moreInfoBox {
  border-top: 1px solid var(--color-text-sec);
  border-bottom: 1px solid var(--color-text-sec);
  padding-block: 15px;
}

.moreInfo {
  font-size: 18px;
  margin-bottom: 10px;
}

.moreInfoList {
  list-style-type: disclosure-closed;
  padding-left: 30px;
}

.moreInfoItem:not(:last-child) {
  margin-bottom: 5px;
}

.moreInfoLink {
  color: var(--color-text-sec);
  text-decoration: underline;
  transition: color var(--duration) var(--timing-function);

  &:hover,
  &:focus-visible {
    color: var(--color-bg-third);
  }

  &.isActive {
    color: var(--color-bg-third);
  }
}
