@use "../../utils//scss/placeholders/movies.scss" as *;

.title {
  font-size: 40px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 30px;
}

.moviesList {
  @extend %moviesList;
}

.moviesItem {
  @extend %moviesItem;
}

.moviesImg {
  @extend %moviesImg;
}

.noPhoto {
  color: var(--color-text-active);
  font-size: 20px;
  font-weight: var(--font-weight);
  text-transform: capitalize;
  width: 300px;
  height: 450px;
  background-color: rgba(0 0 0 / 0.1);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}

.moviesLink {
  @extend %moviesLink;
}

.movieInfo {
  @extend %movieInfo;
}

.movieTitle {
  @extend %movieTitle;
}

.movieRating {
  @extend %movieRating;
}
