:root {
  --color-text-main: #000;
  --color-text-sec: #c6cbd3;
  --color-text-active: #8e0c26;

  --color-bg-main: #a47373;
  --color-bg-sec: #fff;
  --color-bg-third: #a80f2e;

  --font-size-main: 16px;

  --font-weight: 700;
  --border-radius: 6px;

  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
