:root {
  --color-text-main: #212121;
  --color-text-sec: #69707a;

  --color-bg-main: #eee;
  --color-bg-sec: #fff;
  --color-bg-third: #dc143c;

  --font-size-main: 16px;

  --font-weight: 700;
  --border-radius: 4px;

  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
