@use "../../utils/scss/mixins.scss" as *;

.container {
  max-width: 1600px;
  padding: 30px 50px 50px 50px;
  margin-inline: auto;

  @include max-width(500px) {
    padding-inline: 15px;
  }
}

.header {
  width: 100%;
  max-width: 1600px;
  height: 50px;
  display: grid;
  background-color: var(--color-bg-third);
  box-shadow: 0px 10px 20px -10px var(--color-bg-third);
  margin-inline: auto;

  @include min-width(1601px) {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.navItem {
  font-size: 18px;
  color: var(--color-text-main);
  transition: transform var(--duration) var(--timing-function);

  &:hover,
  &:focus-visible {
    transform: translateY(-3px);
  }

  &.isActive {
    font-weight: var(--font-weight);
  }
}
